<!DOCTYPE html>
<html>
    <head>
        <title>Reset System</title>
    </head>
    <body>
    <center>
    <h3>Change Password</h3>
    <form action = "/try_changing_password&={{ username }}"; method = "post";>
    <table>
    <tr>
            <td>Old Password: </td>
            <td><input type="password" name="old_pass"></input></td>
        </tr>
        <tr>
            <td>New Password: </td>
            <td><input type="password" name="new_pass"></input></td>
        </tr>  
        <tr>
            <td>New Password, again: </td>
            <td><input type="password" name="new_pass_x2"></input></td>
        </tr> 
    </table>
    <input type="submit" value="Reset Password"></input>

    </form>
    	
<p>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
        {%if "Success"  in message%}
            <font color="green"> {{ message }} </font> <br>
        {% else %}
            <font color="red"> {{ message }} </font> <br>
        {% endif %}
      {% endfor %}
   {% endif %}
{% endwith %}
</p>
<p>
        <a href="/user&={{ username }}" style="color:blue">Back to User Panel</a><br/>
        <a href="/logout" style="color:blue">Log out</a>
        </p>
    </center>
    </body>
   
</html>
