<!DOCTYPE html>
<html>
    <head>
        <title>Edit Required Hours</title>
    </head>
    <body>
    <center>
    <h3>Edit Required Hours for {{ username }}</h3>
    <p>Note: the number of required hours must be a multiple of the slot duration. For example, if the slot duration is .5 hours, 1.4 hours would be an invalid number of required hours. <br>
        The current slot duration is: {{ current_slot_duration }} hours
    </p>
    <form action = "/try_editing_required_hours&={{ username }}"; method = "post";>
        <table>
        <tr>
            <td>Enter Required Hours: </td>
            <td><input type="text" name="required_hours" placeholder = "{{ current_required_hours }}"autofocus></input></td>
        </tr>
        </table>
        <input type="submit" value="Submit"></input>

    </form>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {%if "Success"  in message%}
                    <font color="green"> {{ message }} </font> <br>
                {% else %}
                    <font color="red"> {{ message }} </font> <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </p>
    <p>
        <a href="/user_list" style="color:blue" >Back to User List (Admin Only) </a><br>
        <a href="/logout" style="color:blue" >Log out (Admin) </a>
    </p>
    </center>
    </body>   
</html>
