<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile</title>
    </head>
    <style>
            table {
                border-collapse: collapse;
            }
            table, th, td {
              border: 1px solid black;
            }
            th, td {
                padding: 5px;

            }
            td {
              font-size:10px;
              width: 83px;
            }
            </style>
    <body>
        <center>
        <h2>Edit {{ username }}'s Profile</h2>
        <font color="green"> Admin has not assigned office hours yet, feel free to modify stuff.</font>
        </center>
        <form action = "/try_editing_profile&={{ username }}"; method = "post"; id = "edits_to_profile">
            <b>Edit Office Hour Preferences</b><br>
            To make this easier for everyone, please only put "unavailable" for times you are really, truly unavailable (class, meetings, etc). The admin can see how many unavailable slots you put!<br>
            Also, it's best if you put between {{ num_slots_required }} and {{ num_slots_required+2 }} preferred slots, where n is the number of <i>slots</i> you have to do<br>
            Be sure to press save changes when you are done. 
            <p>
                <table id = "preference_table">
                    <tr>
                        <th></th>
                        {% for header in header_oh_slots %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    {%for i in range (days_open|length)%}
                    <tr>
                        <th>{{ days_open[i] }}</th>
                        {% for j in range (header_oh_slots|length) %}
                        <td id = "{{ i }}-{{ j }}">
                            {% for k in range(radio_preferencebox_order|length) %}
                                <input type="radio" onclick = 'switchColorsByRadioButton({{ i }},{{ j }});' id="preference{{ i }}-{{ j }}" name = "preference{{ i }}-{{ j }}" value="{{ radio_preferencebox_order[k] }}" {{ radio_preferencebox_settings[i][j][k] }}>{{ radio_preferencebox_order[k] }}<br>
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}    
                </table>
            </p>
            <p>
                <b> Edit Standing (Veteran means more than 3 active semesters) </b><br>
                    <input type="radio" name="standing" value='{{ radio_standing_order[0] }}' {{ radio_standing[0] }}> {{ radio_standing_order[0] }}<br>
                    <input type="radio" name="standing" value='{{ radio_standing_order[1] }}' {{ radio_standing[1] }}> {{ radio_standing_order[1] }}<br>
                    <input type="radio" name="standing" value='{{ radio_standing_order[2] }}' {{ radio_standing[2] }}> {{ radio_standing_order[2] }}<br>
                    <input type="radio" name="standing" value='{{ radio_standing_order[3] }}' {{ radio_standing[3] }}> {{ radio_standing_order[3] }}<br>
            </p>
            <p>
                <b> Edit Division </b><br>
                    <input type="radio" name="division" value='{{ radio_division_order[0] }}' {{ radio_division[0] }}>{{ radio_division_order[0] }}<br>
                    <input type="radio" name="division" value='{{ radio_division_order[1] }}' {{ radio_division[1] }}>{{ radio_division_order[1] }}<br>
                    <input type="radio" name="division" value='{{ radio_division_order[2] }}' {{ radio_division[2] }}>{{ radio_division_order[2] }}<br>
                    <input type="radio" name="division" value='{{ radio_division_order[3] }}' {{ radio_division[3] }}>{{ radio_division_order[3] }}<br>
                    <input type="radio" name="division" value='{{ radio_division_order[4] }}' {{ radio_division[4] }}>{{ radio_division_order[4] }}<br>
            </p>
            <p><input type="submit" value="Save Changes" style="font-size:30px; width:200px"></input></p>
        </form>    	
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {%if "Success"  in message%}
                        <font color="green"> {{ message }} </font> <br>
                    {% else %}
                        <font color="red"> {{ message }} </font> <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </p>
        <center>
        <p>
            {%if admin %}
                <a href="/user_list" style="color:blue" >Back to User List (Admin Only) </a><br>
                <a href="/logout" style="color:blue" >Log out (Admin) </a>
            {% else %}
                <a href="/user&={{ username }}" style="color:blue">Back to User Panel</a><br/>
                <a href="/logout" style="color:blue">Log out</a>
            {% endif %}
        </p>
        </center>
    </body>
    <script>
        var table = document.getElementById('preference_table');
        
        function switchColorsByRadioButton(i,j){
            var preference_ij = 'preference' + i + '-' + j;
            var selected_ij = document.getElementById('edits_to_profile')[preference_ij].value;
            if (selected_ij == 'available'){
                table.rows[i+1].cells[j+1].style.backgroundColor = '#ffff7f';
            } else if (selected_ij == 'unavailable') {
                table.rows[i+1].cells[j+1].style.backgroundColor = '#E14646';
            }else{
                table.rows[i+1].cells[j+1].style.backgroundColor = '#92CA91';
            }
        }

        for (var i = 0, n = table.rows.length-1; i < n; i++) {
            for (var j = 0, m = table.rows[i].cells.length-1; j < m; j++) {
                switchColorsByRadioButton(i,j);
            }
        }

    </script>
</html>