<!DOCTYPE html>
<html>
<body>
<p>
    <h3>Office hour entry!</h3><br/>
    Enter your preferred hours (will show up in green) and the hours you are unavailable for (will show up in red), due to class, meetings, etc - your sleep schedule does not count :) <br/>
    Entering more prefered hours will make it easier for everyone, so please choose as many as you can. <br/>
    Entry works similarly to when2meet. Note that if you .
</p>
<p>
    <button onclick = "setEntryMode('Preferred Hours')" type="button">Enter Preferred Hours</button>
    <button onclick = "setEntryMode('Unavailable Hours')" type="button">Enter Unavailable Hours</button>
</p>
<p>
    <div id ="entryTypeText"><b>Currently entering:</b> Preferred Hours</div>
</p>
<p>
Monday:
<br/>
<canvas id="monday" width="700" height="35" style="border:1px solid #000000;"></canvas>
</p>
<p>
Tuesday:
<br/>
<canvas id="tuesday" width="700" height="35" style="border:1px solid #000000;"></canvas>
</p>

<script>
    var monday = document.getElementById("monday");
    var ctx = monday.getContext("2d");
    ctx.beginPath();
    ctx.font = "12px Arial";
    for (i = 0; i < 14; i ++){
        cur_x = i*50
        ctx.moveTo(cur_x,0);
        
        hour = Math.floor(10 + i/2)%12;
        hour = (hour == 0) ? 12 : hour;
        minute = (i%2 == 1) ? "30" : "00";
        
        ctx.fillText(hour + ":" + minute + "-", 6+cur_x, 14);

        next_hour = Math.floor(10 + (i+1)/2)%12;
        next_hour = (next_hour == 0) ? 12 : next_hour;
        next_minute = ((i+1)%2 == 1) ? "30" : "00";
        ctx.fillText(next_hour + ":" + next_minute, 6+cur_x, 29);

        ctx.lineTo(cur_x,monday.height);
        ctx.stroke();
    }
    function setEntryMode(entryMode) {
        var entryTypeText = document.getElementById("entryTypeText");
        if (entryMode=="Preferred Hours") {
            entryTypeText.innerHTML = "<b>Currently entering:</b> Preferred Hours";
        } else {
            entryTypeText.innerHTML = "<b>Currently entering:</b> Unavailable Hours";
        }
    }
</script>
</body>
</html>