<!DOCTYPE html>
<html>
<head>
<title>SAO Office Hour Login</title>

</head>
<body>
<center>
<h3>Login to the Office Hour System!</h3>
Not yet registered? Reach out to Sophia, Era, or Anindit!</a>
<p>
<form action = "/login"; method = "post";>
	<table style = 'center'>
        <tr>
            <td>Username: </td>
            <td><input type="text" name="username"></input></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="password"></input></td>
        </tr>    
    </table>
    <input type="submit" value="Log In"></input>
</form>
</p>
<p>
    <i>
    Inspiration for UI/UX design was drawn from the webpages of Berkeley's finest. A few examples are listed below.<br/>
    </i>
    <a href="https://people.eecs.berkeley.edu/~hilfingr/" style="color:blue" >Paul Hilfinger</a><br/>
    <a href="https://math.berkeley.edu/~conway/" style="color:blue" >James Conway</a><br/>
    <a href="https://math.berkeley.edu/~stankova/" style="color:blue" >Zvezdelina Entcheva Stankova</a><br/>
    <a href="http://www-inst.eecs.berkeley.edu/~cs164/sp19/" style="color:blue">Paul Hilfinger, again</a><br/>
</p>
<p>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
        <font color="red"> {{ message }} </font>
      {% endfor %}
   {% endif %}
{% endwith %}
</p>
</center>
</body>
</html>
