<!DOCTYPE html>
<html>
    <head>
        <title>Sorry!</title>
    </head>
    <body>
        <center>
            <h3>Sorry!</h3>
            It appears as if this computer is tracking signed in office hours. You signing in could mess it all up, so sign into a different computer <br>
            If this is a mistake, you can click the link below to stop tracking. <br>
            <a href="/logout" style="color:blue" onclick = "confirm('Are you sure you want to do this?!?!')">Stop Tracking Sign Ins</a>
        </center>
    </body>
</html>