<!DOCTYPE html>
<html>
    <head>
        <title>Office Sign In</title>
    </head>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid #ddd;
        }
        th {
            cursor: pointer;
        }
        th, td {
            text-align: left;
            padding: 7px;
        }
    
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <body>
        <center>
            <h3>Office Hour Sign In</h3>
            To sign in, enter your username below or tap your ID (if you set that up). To sign out, do the exact same thing (or click sign-out next to your name).<br>
            <p>
            <form action = "/handle_signins"; method = "post">
                Username:
                <input type="text" name="username" autofocus></input>
                <input type="submit" name="Submit"></input>
            </form>
            </p>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if 'Invalid' in message %}
                            <font color="red"> {{ message }} </font> <br>
                        {% else %}
                            <font color="green"> {{ message }} </font> <br>
                        {% endif %}

                    {% endfor %}
                {% endif %}
                {% endwith %}
            </p>
            <p>
            <table>
                <tr><th>Signed in Users</th><th></th></tr>
                {% for user in signed_in_users %}
                <tr>
                    <td>
                        {{ user }}
                    </td>
                    <td>
                        <a href="/signout&={{ user }}" style="color:blue">sign out</a>    
                    </td>
                </tr>
                {% endfor %}
            </table>
            <p>
            <a href="/signout_all" style="color:blue">Sign EVERYONE Out</a>
            </p>
            </p>
            <a href="/logout" style="color:blue">Stop Tracking</a>
        </center>
    </body>
</html>
