<!DOCTYPE html>
<html>
    <head>
        <title>Set Magic Key</title>
    </head>
    <body>
    <center>
    <h3>Set Magic Key for {{ username }}</h3>
    <form action = "/try_setting_magic_key&={{ username }}"; method = "post";>
        <table>
        <tr>
            <td>Enter Magic Key: </td>
            <td><input type="text" name="magic_key" autofocus></input></td>
        </tr>
        </table>
        <input type="submit" value="Set Magic Key"></input>

    </form>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {%if "Success"  in message%}
                    <font color="green"> {{ message }} </font> <br>
                {% else %}
                    <font color="red"> {{ message }} </font> <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </p>
    <p>
        {%if admin %}
            <a href="/user_list" style="color:blue" >Back to User List (Admin Only) </a><br>
            <a href="/logout" style="color:blue" >Log out (Admin) </a>
        {% else %}
            <a href="/user&={{ username }}" style="color:blue">Back to User Panel</a><br/>
            <a href="/logout" style="color:blue">Log out</a>
        {% endif %}
    </p>
    </center>
    </body>   
</html>
