<!DOCTYPE html>
<html>
    <head>
        <title>User Panel</title>
    </head>
    <body>
        <center>
            <h3>Hi {{ username }}!</h3>
            <p>You will have <b>{{ num_required_hours }}</b> office hours to do. If you think this is a mistake, tell Sophia!</p>
            <p>
            {% if assigned_shifts %}
            Assigned Shifts: <br/>
            {% for assigned_shift in assigned_shifts %}
                {{ assigned_shift }}<br/>
            {% endfor %}
            {% endif %}
            </p>
            <p>
                <a href="/change_password&={{ username }}" style="color:blue""> Change Password</a> <br/>
                <a href="/edit_profile&={{ username }}" style="color:blue">Edit Profile</a><br/>
                <a href="/set_magic_key&={{ username }}" style="color:blue">Set Magic Key</a><br/>

            </p>
            {%if admin %}
                <a href="/user_list" style="color:blue" >Back to User List (Admin Only) </a><br>
                <a href="/logout" style="color:blue" >Log out (Admin) </a>
            {% else %}
                <a href="/logout" style="color:blue" >Log out</a>
            {% endif %}
        </center>
    </body>
</html>
