<!DOCTYPE html>
<html>
    <head>
        <title>User List</title>
    </head>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
      }
      th {
          cursor: pointer;
      }
      th, td {
        text-align: left;
        padding: 7px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
	</style>
    <body>
      <center>
        <h3>Current User List</h3>
        <form action = "/try_deleting_users"; method = "post">
		<table id= "user_list_table">
        	<tr>
            	<th onclick="sortTable(0)"></th>
				<th onclick="sortTable(1)">Username</th>
                <th onclick="sortTable(2)">Password</th>
                <th onclick="sortTable(3)">Standing</th>
                <th onclick="sortTable(4)">Preferences Set?</th>
                <th>Assigned Office Hours</th>
               
            </tr>
            {% for user in user_list %}
            <tr>
                <td><input type="checkbox" name="users_to_delete" value= {{ user[0] }}></td>
                {% for i in range(5) %}
                <td>{{ user[i] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <p><input type="submit" value="Delete Selected Users" style="font-size:30px; width:200px"  onclick="return confirm('Are you sure you want to delete? Cannot be undone!!')"></input></p>
       </form>
       <p>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                    {%if "Success"  in message%}
                        <font color="green"> {{ message }} </font> <br>
                    {% else %}
                        <font color="red"> {{ message }} </font> <br>
                    {% endif %}
                  {% endfor %}
               {% endif %}
            {% endwith %}
        </p>
       <p>
        <a href="/add_users" style="color:blue">Add Users</a><br/>
        <a href="/admin" style="color:blue">Back to Admin Panel</a><br/>
        <a href="/logout" style="color:blue">Log out</a>
        </p>
       </center>
    </body>
    <script>
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("user_list_table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */
            if (dir == "asc") {
              if ((n > 0 && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) || (n==0 && !x.checked && y.checked)) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if ((n>0 && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) || (n==0 && x.checked && !y.checked)) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount ++;
          } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
      </script>
</html>